<% include ./partials/header %>


<h1 class="ui huge header">Blog Page</h1>

<% blogs.forEach( function(element, index) { %>
    <div class="ui top attached segment">
        <div class="ui divided items">
            <div class="item">
                <div class="image">
                    <img src="<%= element.image%>" class="figure-img img-fluid">
                </div>
                <div class="content">
                    <a class="header" href="/blogs/<% element._id %>"><%= element.title %></a>
                    <div class="meta">
                        <span><%= element.created_at.toDateString()%></span>    
                    </div>
                    <div class="description">
                        <p><%= element.body.substring(0, 100)+"..." %></p>
                    </div>
                    <div class="extra">
                        <a href="/blogs/<%=element._id%>" class="ui floated violet button">
                            Read More
                            <i class="right chevron icon"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
<% }) %>

<a href="/blogs/new">Ctaete new blog</a>

<% include ./partials/footer %>